@model List<MVCWebApp.DTOs.FornecedorDTO>

<head>
    <link href="~/css/List.css" rel="stylesheet" />
</head>

<h1>Fornecedores</h1>
<hr />
<section>
    @foreach (var register in Model)
    {
        <div class="fornecedor-container">
            <div class="info">
                <table>
                    <tbody>
                        <tr>
                            <td>Segmento: @register.Segmento</td>
                            <td>Nome: @register.Name</td>
                        </tr>
                        <tr>
                            <td>CNPJ: @register.Cnpj</td>
                            <td>CEP: @register.Cep</td>
                        </tr>
                        <tr>
                            <td colspan="2">Endereço: @register.Endereco</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="img">
                @if (!string.IsNullOrEmpty(register.ImageUrl))
                {
                    var imageName = register.ImageUrl.Substring(register.ImageUrl.LastIndexOf('\\') + 1);
                    <img src="@Url.Content($"~/Images/{imageName}")" id="img" alt="Imagem do fornecedor" />
                }
            </div>

            <div class="options">
                <table>
                    <tr>
                        <td>
                            <a asp-controller="Fornecedor" asp-action="Edit" asp-route-id="@register.Id">
                                <img src="~/Images/ferramenta-lapis 1.svg" alt="Editar" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @using (Html.BeginForm("Delete", "Fornecedor", FormMethod.Post))
                            {
                                @Html.Hidden("id", register.Id) <!-- Passando o ID para o método Delete -->
                                <button type="submit" onclick="return confirm('Tem certeza que deseja deletar este fornecedor?');">
                                    <img src="~/Images/lixeira 1.svg" alt="Excluir" />
                                </button>
                            }
                        </td>
                    </tr>
                </table>
            </div>
            <hr />
        </div>
    }
</section>
